<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="header">
        <a href="#" class="logo">Thunder Surge</a>

        <box-icon name='menu' id="menu-icon"></box-icon>


        <nav class="navbar">
            <a href="#home" class="active">Acueil</a>
            <a href="#search">Recherches</a>
            <a href="#jeux">Jeux</a>
            <a href="#profil">Profil</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Bienvenue</h1>
            <div class="text-animator">
                <h3>à l'accueil</h3>
            </div>
            <p>Ici c'est l'accueil, endroit où vous pouvez choisir la catégorie que vous voulez accéder.</p><p>C'est aussi un endroit pour se reposer.</p>
        </div>
        <div class="home-imgHover"></div>
    </section>








    <section class="search" id="search">
        <div class="search-content">
            <h1>Faites vos recherches</h1>

            <form method="POST">
                <input type="text" name="recherche" placeholder="Recherche...">
                <input type="submit" value="Rechercher">
            </form>
            {% if section %}
                <div>
                    <h2>Section trouvée : {{ section }}</h2>
                    <p>Contenu de la section {{ section }}...</p>
                </div>
            {% endif %}

            <div class="blog-box">
                <div class="blog-content">
                    <div class="content">
                        <h3>Alimentation</h3>
                        <p>Pour avoir une bonne alimentation saine, il est nécessaire de bien comprendre ce qu’est les notions fondamentales pour créer du muscle et perdre de la masse graisseuse. L’alimentation est l’un des piliers le plus important pour son physique. Si vous voulez entretenir votre corps correctement, alors comptez votre apport calorique par jour, votre nombre de consommation de protéine, de glucide et de lipide par gramme. Dans les centres commerciaux, je vous conseille de regarder l’indice alimentaire se trouvant à l’arrière de votre article et regardez bien le nombre en gramme de protéine, de lipide, de don en sucre, de sel… D’abord évitez de prendre des articles où le don en sucre et ou bien le sel est supérieur à 1.5g (évitez aussi un très fort don en masse graisseuse). Ensuite prenez des produits alimentaires qui apporte énormément de protéine (Attention il faut pratiquer du sport, si vous voulez consommer beaucoup de protéines, sinon cela ne servirait à rien). Maintenant je vais vous expliquer la définition de « protéine », de « lipide » et de « glucide ».
Protéines : Les protéines sont composées de nombreux éléments constitutifs appelés acides aminés. Notre organisme a besoin de protéines alimentaires fournissant des acides aminés nécessaires pour la croissance et l’entretien de nos cellules et tissus. Nos besoins en protéines alimentaires changent tout au long de la vie.  
Lipides : Les lipides sont des acides gras qui jouent deux rôles dans notre organisme : le premier rôle est le stockage d’énergie, il prend sous forme de triglycérides, présent dans les tissus adipeux (Un lieu privilégié de mise en réserve des lipides). Le second rôle est structural. Généralement on les retrouve sous forme de phospholipides et s’introduit dans la composition des membranes des cellules, pour les fluidifier.
Glucides : Les glucides proviennent des sucres naturels et ajoutés, ils sont représentés comme facteur de source d’énergie pour notre corps, il peut y avoir des glucides complexe qui sont digérés lentement. Ils sont le « carburant »de notre organisme. Mais il ne faut pas en abuser, il faut varier sa quantité d’apport de glucide pour maintenir une glycémie équilibrée.
Lorsque vous êtes à table n’ayez pas peur de calculer votre quantité d’apport calorique tous les jours. En moyenne cet apport calorique varie chez les hommes entre 2300 et 2800 par jour. Contrairement aux femmes qui varie entre 1700 et 2200 calories par jour. Ne ratez pas vos repas et variez-les, pour une meilleure alimentation.
Désormais, voici quelques plats sains pour le corps, qui pourraient vous aidez à avoir une bonne alimentation. Je rappelle un point important, chaque personne a un métabolisme et un organisme bien différent, il demande par moment beaucoup plus de calories que vous ne le pensez  
Pâtes au saumon et aux légumes : Des pâtes de blé complet ou de lentilles mélangées avec du saumon grillé, des légumes comme les courgettes, les tomates cerises et les épinards, le tout assaisonné avec de l'huile d'olive et du parmesan râpé.
Smoothie protéiné aux fruits et avoine : Un smoothie préparé avec du lait d'amande, des protéines en poudre, des fruits comme les bananes et les baies, ainsi que de l'avoine pour augmenter les glucides complexes. Vous pouvez également ajouter du beurre de cacahuète pour plus de calories.
Wrap au poulet, avocat et légumes croquants : Un wrap préparé avec des morceaux de poulet grillé, des tranches d'avocat, des feuilles de laitue, des tomates et des poivrons, le tout enveloppé dans une tortilla de blé entier.
Saumon avec pommes de terre douces et brocoli : Un saumon cuit au four, accompagné de pommes de terre douces rôties et de brocoli vapeur.

Poisson poché avec légumes vapeur : Des filets de poisson blanc pochés, accompagnés de légumes vapeur comme les haricots verts, les brocolis et les carottes. Assaisonnez avec du jus de citron, de l'ail et des herbes fraîches pour plus de saveur.
Omelette aux légumes et fromage : Une omelette préparée avec plusieurs œufs, des légumes comme les épinards, les poivrons et les champignons, et du fromage râpé. Accompagnez-la de tranches de pain complet pour augmenter les glucides.
</p>
                    </div>
                </div>

                <div class="blog-box">
                    <div class="blog-content">
                        <div class="content">
                            <h3>Dos</h3>
                            <p>Pour travailler votre dos, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a le superman (que vous pouvez faire 4 fois durant 30 secondes avec 15 secondes de pause),
ensuite vous pouvez faire des pompes, des tractions et enfin utiliser la machine tirage horizontal à la T-barre ou unitéral</p>
                        </div>
                    </div>
            
                    <div class="blog-box">
                        <div class="blog-content">
                            <div class="content">
                                <h3>épaules</h3>
                                <p>Pour travailler vos épaules, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a les elevations frontales et latérales, les dévoleppés halteres et militaire, finalement l'oiseau</p>
                            </div>
                        </div>

                        <div class="blog-box">
                            <div class="blog-content">
                                <div class="content">
                                    <h3>Triceps</h3>
                                    <p>Pour travailler vos triceps, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a les dips (que vous pouvez faire sur chaise ou bien sur barre horizontal), les pompes, le kickback et finalement la machine extension verticale a la poulie</p>
                                </div>
                            </div>

                            <div class="blog-box">
                                <div class="blog-content">
                                    <div class="content">
                                        <h3>Biceps</h3>
                                        <p>Pour travailler vos biceps, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a le curl marteau avec haltère (sur banc inclinée ou débout)</p>
                                    </div>
                                </div>

                                <div class="blog-box">
                                    <div class="blog-content">
                                        <div class="content">
                                            <h3>abdominal</h3>
                                            <p>Pour travailler vos abdominaux, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a le russian twist, ensuite le crunch, le bycile crunch, la planche et finalement le leg lift</p>
                                        </div>
                                    </div>

                                    <div class="blog-box">
                                        <div class="blog-content">
                                            <div class="content">
                                                <h3>jambes</h3>
                                                <p>Pour travailler vos jambes, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a les machines leg press et extension leg push</p>
                                            </div>
                                        </div>
                                        
                                        <div class="blog-box">
                                            <div class="blog-content">
                                                <div class="content">
                                                    <h3>trapeze</h3>
                                                    <p>Pour travailler vos trapeze, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a les shrugs, le tirage menton,</p>
                                                </div>
                                            </div>

                                            <div class="blog-box">
                                                <div class="blog-content">
                                                    <div class="content">
                                                        <h3>pectoraux</h3>
                                                        <p>Pour travailler vos pectoraux, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a les developpé couché, le butterfly, les pompes (bras écartés) </p>
                                                    </div>
                                                </div>

                                                <div class="blog-box">
                                                    <div class="blog-content">
                                                        <div class="content">
                                                            <h3>Cardio</h3>
                                                            <p>Pour travailler votre Cardio, on vous propose plusieurs exercices qui sont selon nous les meilleurs à exercer. Pour commencer : Il y a la course à pied, ensuite la corde à sauter</p>
                                                        </div>
                                                    </div>
            </div>
        </div>
    </section>

    <section class="jeux" id="jeux">
        <div class="jeux-content">
            <h1>Tentez d'arracher la victoire</h1>

            <h2>Quiz de Musculation</h2>
            <form method="POST">
                {% for question in questions %}
                    <div class="question">
                        <p>{{ loop.index }}. {{ question|safe }}</p>
                        <input type="radio" id="q{{ loop.index }}a" name="{{ loop.index0 }}" value="a" required>
                        <label for="q{{ loop.index }}a">(a)</label>
                        <input type="radio" id="q{{ loop.index }}b" name="{{ loop.index0 }}" value="b">
                        <label for="q{{ loop.index }}b">(b)</label>
                        <input type="radio" id="q{{ loop.index }}c" name="{{ loop.index0 }}" value="c">
                        <label for="q{{ loop.index }}c">(c)</label>
                    </div>
                {% endfor %}
                <input type="submit" value="Soumettre" class="submit">
            </form>
        </div>
    </section>

    <section class="profil" id="profil">
        <div class="profil-content">
            <h1>Votre profil</h1>
            <p></p>
           <!-- Dans la section de calcul de l'IMC -->
            <form action="/" method="POST" class="search-text">
                <input type="text" name="poids" class="input" placeholder="Votre poids en kg">
                <input type="text" name="taille" class="input" placeholder="Votre taille en mètres">
                <input type="submit" value="Calculer IMC">
            </form>
            <!-- Juste après le formulaire dans votre section de calcul de l'IMC -->
            <div id="resultat-imc">
                {% if resultat %}
                    <p>{{ resultat }}</p>
                {% endif %}
            </div>

<!-- Dans la section de calcul de calories-->
<form action="/" method="POST" class="search-text">
    <input type="text" name="poids" class="input" placeholder="Votre aliment">
    <input type="text" name="taille" class="input" placeholder="Le nombre de gramme de l'aliment">
    <input type="submit" value="Calculer calories">
</form>
<!-- Juste après le formulaire dans votre section de calcul de l'IMC -->
<div id="resultat-kcal">
    {% if resultat %}
        <p>{{ resultat }}</p>
    {% endif %}
</div>
            
        </div>
    </section>


    <script src="#"></script>
</body>
</html>