@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --bg-color : #282828;
    --second-bg-color : #112e42;
    --text-color : #ededed;
    --main-color : #ffd52c;
}

html {
    font-size: 62.5%;
    overflow-x:hidden;
}

body {
    background: var(--bg-color);
    color : var(--text-color);
}

.header {
    position : fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 9%;
    background : transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size : 2.5rem;
    color : var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size : 1.7rem;
    color : var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition : .3s;
}

.navbar a:hover,
.navbar a.active {
    color : var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color : var(--text-color);
    cursor : pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding : 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding : 0 9%;
    background: url('/img/fa.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content h1 {
    font-size : 5.6rem;
    font-weight : 700;
    line-height: 1.3;
}

.home-content .text-animator {
    position : relative;
    width : 32.8rem;
}

.home-content .text-animator h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color : transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}



section {
    min-height: 100vh;
    padding : 10rem 9% 2rem;
}

.search {
    display: flex;
    align-items: center;
    padding : 0 9%;
    background-size: cover;
    background-position: center;
}

.search-content h1 {
    font-size : 5.6rem;
    font-weight : 700;
    line-height: 1.3;
}

.search-content .text-animator {
    position : relative;
    width : 32.8rem;
}

.search-content .text-animator h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color : transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.search-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}



section {
    min-height: 100vh;
    padding : 10rem 9% 2rem;
}

.jeux {
    display: flex;
    align-items: center;
    padding : 0 9%;
    background: url('/img/co.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.jeux-content h1 {
    font-size : 5.6rem;
    font-weight : 700;
    line-height: 1.3;
}

.jeux-content .text-animator {
    position : relative;
    width : 32.8rem;
}

.jeux-content .text-animator h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color : transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.jeux-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}


section {
    min-height: 100vh;
    padding : 10rem 9% 2rem;
}

.profil {
    display: flex;
    align-items: center;
    padding : 0 9%;
    background-size: cover;
    background-position: center;
}

.profil-content h1 {
    font-size : 5.6rem;
    font-weight : 700;
    line-height: 1.3;
}

.profil-content .text-animator {
    position : relative;
    width : 32.8rem;
}

.profil-content .text-animator h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color : transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.profil-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.box {
    position: relative;
}
.input {
    padding: 10px;
    width: 300px;
    height: 35px;
    background: none;
    border: 4px solid #ffd52c;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: #ffd52c;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top:50%;
    right:50%;
    transform: translate(-50%, 50%);
    font-size: 26px;
    color : #ffd52c;
    transition : .2s;
}

.box:hover i{
    opacity: 0 ;
    z-index: -1;
}


.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.search-content .blog-box {
    display: flex;
    flex-wrap: wrap;
    gap : 5rem;
}

.blog-box .blog-content {
    flex : 1 1 40rem;
}

.blog-content h3 {
    font-size: 2.5rem;
    margin : 0 0 1.5rem 2rem;
}

.blog-content .content {
    border-left : .2rem solid var(--main-color)
}

.content {
    position: relative;
    padding-left: 2rem;
}

.blog-content .content {
    position: relative;
    padding : 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
